{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/rainbow/github.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Poor+Story|Seaweed+Script|Shadows+Into+Light" rel="stylesheet">

  <!-- font-family: 'Poor Story', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Amatic SC', cursive;
  font-family: 'Seaweed Script', cursive; -->
</head>
<body>
  <div class="main-wrapper__container">
    <header class="main-header__module">
      <div class="logo__element --main-header">ChunkPackApp</div>
      <div class="create-chunk-icon__element --main-header">+</div>
    </header>

    {% block content %}


    <div class="content-wrapper__container">
    {% for chunkItem in chunkItems %}
      <div class="chunk-preview-item__module">
        <div class="box-header__module --chunk-preview-item">
          <div class="text-title__module --chunk-preview-item">
            <h2 class="title__element --chunk-preview-item" onclick="location.href='./single-chunk/{{ chunkItem.id }}'">{{ chunkItem.title }}</h2>
            <p class="p__element --chunk-preview-item">{{ chunkItem.des }}</p>
          </div>
          <div class="lang-badge__module --chunk-preview-item --javascript" style="background-color: {{ chunkItem.lang.color }}">
            <div class="abb__element --chunk-preview-item ">{{ chunkItem.lang.abb }}</div>
          </div>
        </div>

        <div class="code-box__module --chunk-preview-item">
          <pre class="code__element --chunk-preview-item">
            <code data-language='{{ chunkItem.lang.language }}'>
{{ chunkItem.chunk }}
            </code>
          </pre>
        </div>
        <!-- <div class="box-shortcut__module --chunk-preview-item --javascript">
          <div class="shortcut__element --chunk-preview-item">JavaScript</div>
        </div> -->
      </div>
    {% endfor %}


    </div>
  </div>



  {% endblock %}



  <footer class="main-footer__module">
    <div class="logo__element --main-footer">ChunkPack 2018</div>
  </footer>

  {% block modals %}
  <div class="typical-modal__module --add-chunk">
    <div class="close-button__element --typical-modal"><i class="fa fa-times" aria-hidden="true"></i></div>
    <h2 class="title__element --typical-modal">Add Chunk</h2>
    <form class="form__module" action="{% url 'addChunk' %}" method="post">
      {% csrf_token %}
      <div class="input-title__element">Title</div>
      {{ addForm.title }}
      <div class="input-title__element">Description</div>
      {{ addForm.des }}
      <div class="input-title__element">Language</div>
      {{ addForm.lang }}
      <div class="input-title__element">Code</div>
      {{ addForm.chunk }}



      <input type="submit" class="--on-hover-1 typical-button__element" value='Create Chunk'>
    </form>
  </div>
  {% endblock %}


  <script src="{% static 'js/jquery3.js' %}"></script>
  <script src="{% static 'js/rainbow-custom.min.js' %}"></script>
  <script src="{% static 'js/modalsModule.js' %}"></script>
  <script src="{% static 'js/modalsController.js' %}"></script>
  <script src="{% static 'js/baseController.js' %}"></script>
</body>
</html>
