.main-header__module
    overflow: hidden
    height: 80px
    padding: 0 25px
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: 0px 2px 31px -9px rgba(214,214,214,1)
.chunk-preview-item__module
    //width: 24.5%
    height: 422px
    background-color: white
    // border: 1px solid #efefef
    padding: 10px
    box-shadow: 0px 2px 31px -9px rgba(214,214,214,1)
.box-header__module
    display: flex
    justify-content: space-between
    align-items: center
.lang-badge__module
    display: flex
    max-width: 80px
    padding: 0 15px
    margin-left: 15px
    height: 60px
    align-items: center
    justify-content: center
    border: 4px double white
    font-weight: bold
    border-width: 6px
    &.--javascript
        background-color: $js
        color: white
    transition: 0.3s
    cursor: pointer
    opacity: 0.7
    &:hover
      //border-color: black
      opacity: 1
.main-footer__module
  height: 70px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
.code-box__module
  position: relative
