.main-header__module
    height: 80px
    padding: 0 25px
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: 0px 2px 31px -9px rgba(214,214,214,1)
.chunk-preview-item__module
    width: 24.5%
    // border: 1px solid #efefef
    padding: 10px
    margin-bottom: 13px
    box-shadow: 0px 2px 31px -9px rgba(214,214,214,1)
.box-header__module
    display: flex
    justify-content: space-between
    align-items: center
.lang-badge__module
    display: flex
    width: 80px
    margin-left: 15px
    height: 60px
    align-items: center
    justify-content: center
    &.--javascript
        background-color: $light-purple
        color: white