//.main-wrapper__container

.content-wrapper__container

    //display: grid
    min-height: calc(100vh - 72px)
    padding: 15px
    justify-content: space-between
    display: grid
    align-items: flex-start
    flex-wrap: wrap
    grid-template-columns: 1fr 1fr 1fr 1fr
    //grid-template-rows: 100px 100px 100px
    grid-gap: 15px
    background-color: #f9f9f9
    padding-top: 95px
    &.--single-chunk
      display: block
      padding: 95px 25px 25px 25px
