//.main-wrapper__container

.chunk-wrapper__container

    //display: grid
    min-height: calc(100vh - 80px)
    padding: 15px
    justify-content: space-between
    display: grid
    align-items: flex-start
    flex-wrap: wrap
    grid-template-columns: 1fr 1fr 1fr 1fr
    //grid-template-rows: 100px 100px 100px
    grid-gap: 15px
    background-color: #f9f9f9
    padding-top: 95px
